@import "utils/vars";
@import "utils/libs";
@import "utils/fonts";
@import "utils/media";


html {
  font-size: $base-font-size;
}

body { 
  background-color: $main-bg-color;
  font-family: $main-font;
  color: $base-text-color; 
  overflow-x: hidden;
  margin: 0; 
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: $base-text-color;
  &:active, &:hover {
    outline: 0;
  }
}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

svg {
  max-width: 100%;
}

textarea { resize: none; }

section {
  position: relative;
  width: 100%;
  display: flex;
}

input,
select,
button { outline: none; }

button {
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}
button:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {max-width: 100%; min-height: 100%; min-width: 100%;}

*, *:before, *:after { box-sizing: border-box; }

.slick-slider, .slick-list  {
  max-width: 100%!important;
}

.slick-slide {
    display: flex!important;
}

.my-dots {
  bottom: 35%;
  list-style: none;
  padding: 0;
  position: absolute;
  right: -102%;
  text-align: center;
  width: 100%;
}

.my-dots li {
  cursor: pointer;
  height: 20px;
  margin: 0 5px 15px;
  padding: 0;
  position: relative;
  width: 20px;
}

.my-dots li button {
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  color: transparent;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 5px;
  width: 20px;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
  background: #5b6ceb;
  border: 5px solid #e3e6ff;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  color: #5b6ceb;
  content: url('../images/circle-open.svg');
  fill: #dbdcdd!important;
  font-family: 'slick';
  font-size: 6px;
  height: 20px;
  line-height: 20px;
  left: 0;
  opacity: .25;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}

.my-dots li.slick-active button {
  background: #5b6ceb;
  border: 5px solid #e3e6ff;
}

.my-dots li.slick-active button:before {
  color: #5b6ceb;
  opacity: .75;
}

.fancybox-inner > .gallery__photo {
  &:hover {
    .zoom-photo {display: none!important;}
    &:after {display: none!important;}
    picture { filter: none;}
  }
}

.input_error {
  color: red;
  margin-bottom: 15px;
}

.messages {
  padding: 15px 0 0;
}