header.main-header
	.main-nav__modal
	button(aria-label="Toggle menu").nav-trigger
		span
	nav.main-nav
		ul.nav-list.pagination-header
			li.nav-list__item
				a(href="#reservation").scroll-to Reservation
			li.nav-list__item
				a(href="#blog").scroll-to Blog
			li.nav-list__item
				a(href="#about-us").scroll-to Аbout us
			li.nav-list__item.nav-list__item--logo
				a(href="index.html")
					img(src="static/images/logo.png" alt="Logo Yoga Courses")
			li.nav-list__item
				a(href="#elements").scroll-to Elements
			li.nav-list__item
				a(href="#shop").scroll-to Shop
			li.nav-list__item
				a(href="#gallery").scroll-to Gallery
				
	