header.main-header
	.main-nav__modal
	button(aria-label="Toggle menu").nav-trigger
		span
	nav.main-nav
		ul.nav-list.pagination-header
			li.nav-list__item
				a(href="#about-us") Ğbout us
			li.nav-list__item
				a(href="#reservation") Reservation
			li.nav-list__item
				a(href="#gallery") Gallery
			li.nav-list__item
				a(href="index.html").logo
					img(src="static/images/logo.png" alt="Logo Yoga Courses")
			li.nav-list__item
				a(href="#blog") Blog
			li.nav-list__item
				a(href="#elements") Elements
			li.nav-list__item
				a(href="#shop") Shop
				
	