.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin-top: 100px;
  overflow: hidden;
}

.our-classes, .about-us, .footer-wrapper {
  margin: 0 10%;
  padding: 100px 11%;
} 

.banner-form {
  padding: 7.1429rem 2.1429rem;
  background: url(../images/bg-slider.jpg) center repeat;
  background-size: cover;
  &:after {
    content: '';
    display: flex;
    flex: 1 0 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $main-active-bg;
    opacity: 0.6;
  }
}

input:hover, input:active, input:focus {color:#000;}

::-webkit-input-placeholder { color: $form-text-color; }
::-moz-placeholder          { color: $form-text-color; } /* Firefox 19+ */
:-moz-placeholder           { color: $form-text-color; } /* Firefox 18- */
:-ms-input-placeholder      { color: $form-text-color; }

.form-trial, .offer-text__catalog {
  display: flex;
  flex: 1;
  z-index: 2;
}

.form-trial {
  align-items: center;
  justify-content: flex-end;
}

.form-trial__head {
  color: $main-head-color;
  font-family: $medium-font;
  font-size: 1.8571rem;
  margin-bottom: 31px;
}

.choose-trial-class__list {
  display: none;
}

.group-input-block {
  background-color: $form-bg-color;
  border-radius: 20px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  margin-right: 43px;
  padding: 30px 40px 40px 35px;
  input {
    background: $form-bg-input-color;
    border: 1px solid transparent;
    border-width: 0;
    border-radius: 8px;
    color: $form-text-color;
    font-family: $main-font;
    font-size: 1em;
    margin-bottom: 17px;
    padding: 17px 11px;
  }
}

.choose-trial-class {
  position: relative;
    &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0px 5px 5px;
    border-color: transparent #333333 transparent transparent;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

input.form_sub-btn {
  background-color: $main-active-color;
  color: $text-white-color;
  cursor: pointer;
  font-weight: 700;
  margin-left: auto;
  width: 170px;
  &:hover {
    background-color: $button-hover-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    transition: all .25s;
  }
}

.offer-text__catalog {
  color: $text-white-color;
  display: flex;
  flex-direction: column;
  font-family: $bold-font;
  padding: 5.3571rem 0;
}

.head-offer, .call-head {
  margin-left: 49px;
}

.head-offer {
  font-size: 3.4286rem;
  letter-spacing: 0.025em;
  line-height: 5.1429rem;
  margin-bottom: 50px;
  max-width: 505px;
  position: relative;
  text-transform: uppercase;
  span {
    font-size: 4rem;
    position: relative;
    top: 5px;
  }
}

.call-head {
  color: $text-white-color;
  font-size: 2.8571rem;
  font-family: $offer-font;
  font-style: italic;
  max-width: 395px;
}

///////////////////////section.our-classes///////////////

.our-classes {
  align-items: center;
  flex-direction: column;
}

.head {
  color: $main-head-color;
  font-family: $bold-font;
  font-size: 2.1429rem;
  text-transform: uppercase;
  text-align: center;
}

.section-overhead {
  font-family: $offer-font;
  font-style: italic;
  font-size: 2.8571rem;
  margin: 20px 0 72px;
  text-align: center;
}

.group-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -14px -25px;
}

.class-for {
  display: flex;
  flex: 0 1 570px;
  padding: 0px 15px 25px;
}

.class-for--shadow-wrapper {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;  
}

.class-description {
  flex: 1 1 223px;
  padding: 50px 47px 50px 30px;
  span {
    width: 100%;
    display: inline-block;
  }
}

.class-description-img {
  overflow: hidden;
}

.class-description__head {
  color: $text-gray-color;
  font-family: $bold-font;
  font-size: 1.4286rem;
  margin-bottom: 33px;
  text-transform: uppercase;
}

.class-description__text { margin-bottom: 20px; }

.class-description__yoga-type {color: $text-graysm-color;}

/////////////////////////section - gallery////////////////////////
.gallery {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery__photo {
  align-items: center;
  display: flex;
  flex: 1 1 25%;
  justify-content: center;
  margin: -1px;
  overflow: hidden;
  position: relative;
  &:after {
    content: '';
    box-sizing: border-box;
    background: $main-active-bg;
    display: none;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  &:hover::after {
    display: flex;
    transition: all 1s;
  }
  &:hover {
    .zoom-photo {
      visibility: visible;
      right: 50%;
      top: 50%;
      transition: all 1s;
    }
    picture {
      filter: grayscale(100%);
      filter: gray;
    }
  }
}

.photo-galleries-img {
  width: 100%;
}

.zoom-photo {
  background: $button-bg-gallery;
  border-radius: 50%;
  cursor: pointer;
  height: 57px;
  position: absolute;
  margin: -23.5px;
  padding: 16.5px;
  visibility: hidden;
  width: 57px;
  z-index: 99;
  &::active,&::focus {
    outline: none;
  }
}

////////////////////////////about-us section//////////////////

.about-us__description, .about-us__text, .about-us__slider {
  display: flex;
  flex: 1;
  max-width: 100%;
}

.js-about-us-slider {
  display: flex;
  flex-wrap: nowrap;
}

.about-us__text {
  flex: 0 1 470px; 
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 130px;
  padding: 22px 0 125px;
  .head {
    margin-bottom: 22px;
    text-align: left;
  }
}

.about-us__slider {
  align-items: center;
  flex: 0 1 570px;
  max-width: 570px;
  margin-left: -23px;
  position: relative;
  width: 48%;
}

.popular-categories__photo {
  max-height: 300px;
  max-width: 570px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  img {
    border-radius: 8px;
    width: 570px;
    height: 300px;
  }
}

.slider-nav--next, .slider-nav--prev {
  background: $button-bg-gallery;
  border-radius: 50%;
  color: $icon-color;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: absolute;
  padding: 16.5px;
  width: 50px;
  z-index: 99;
  &::active,&::focus {
    outline: none;
  }
  &:before, &:after {
    border-radius: 0.25em;
    background: $icon-color;
    content: "";
    display: block;
    font-family: $main-font;
    font-size: 0.75em;
    height: 0.15em;
    position: absolute;
    right: 0;
    top: 53%;
    width: 1em;
  }
  &:before {transform: rotate(45deg);}
  &:after {transform: rotate(-45deg);}
}

.slider-nav--next {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  right: -25px;
  &:before, &:after {
  right: 18px
  }
  &:before {
    margin-top: -.63em;
  }
}

.slider-nav--prev {
  box-shadow: 20px 5px 20px 0px rgba(0, 0, 0, 0.1);
  left: -25px;
  &:before, &:after {
  left: 18px
  }
  &:after {
    margin-top: -.63em;
  }
}

.slick-slider {
  max-width: 100%!important;
  border-radius: 8px;
}

//////////////////////////////////section - benefits/////////////////////
.benefit {
  background: url(../images/bg-features.png) center repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 21%;
  &:after {
    content: '';
    display: flex;
    flex: 1 0 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $main-active-bg;
    opacity: 0.6;
  }
}

.benefit-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -45px;
  z-index: 99;
}

.benefit-description {
  display: flex;
  flex: 0 1 270px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px 50px;
  img {
    margin: 0 auto;
    height: 70px;
    width: 70px;
  }
  &__text {
    span {
      color: $text-white-color;
      display: inline-block;
      font-size: 1.1429rem;
      padding: 0 16px;
      text-align: center;
      width: 100%;
    }
  }
}

span.benefit-description__head {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: $bold-font;
  font-weight: bold;
  font-size: 1.2857rem;
  justify-content: center;
  margin: 25px 0 15px;
  min-height: 60px;
  padding: 0 55px;
  text-transform: uppercase;
}

/////////////////////////////////section prices-testimonials//////////////////////////////////

.prices-testimonials {
  background: url(../images/bg-prices.png) center repeat;
  background-size: cover;
  flex-wrap: wrap;
}

.prices-testimonials--wrapper {
  margin: 0 10%;
  padding: 100px 11%;
  width: 100%;
}

.subscription-plan {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 -15px;
}

.testimonials-slider {
  display: flex;
}

.subscription-rate {
  align-items: center;
  background: $main-bg-color;
  border-radius: 8px;
  box-shadow: 6px 6px 50px rgba(0, 0, 0, .1);
  display: flex;
  flex: 1 1 370px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 15px;
  overflow: hidden;
}

.subscription-rate--line {
  background: $rate-line-color;
  border-width: 0px;
  height: 1px;
  margin: 22.5px auto;
  width: 100px;
}

.subscription-rates__price {
  align-items: center;
  background: $main-active-bg;
  color: $text-white-color;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  font-family: $bold-font;
  justify-content: center;
  padding: 2.55rem 1rem;
  text-transform: uppercase;
  text-align: center;
    span:first-child {
      font-size: 2.2857rem;
      margin-right: 15px;
    }
    span:nth-child(2) {
      font-size: 4.8571rem;
      margin-right: 9px;
    }
    span:last-child {
      align-self: flex-end;
      font-size: 1.2857rem;
      padding-bottom: 10px;
    }
}

.subscription-rates__time {
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 4rem;
  p {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: nowrap;
    font-size: 1.2857rem;
    margin: 0 -1px;
  }
}

button.subscription-btn {
  background-color: $main-active-color;
  border: 1px solid transparent;
  border-width: 0;
  border-radius: 8px;
  color: $text-white-color;
  cursor: pointer;
  font-family: $main-font;
  font-weight: 700;
  font-size: 1em;
  margin: 50px auto 0;
  padding: 17px 11px;
  width: 170px;
  &:hover {
    background-color: $button-hover-color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    transition: all .25s;
  }
}