block variables

doctype html
html(lang="ru-RU").js
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
		script document.getElementsByTagName("html")[0].className += " js"
		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
		<![endif]-->
	body
		include ../modules/header/header
		main.main-content
			block content
		include ../modules/footer/footer
		script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")