@media screen and (min-device-width: 968px) {
	.class-description-img {
		width: 270px;
	}
}

@media screen and (max-device-width: 1919px) {
	.class-for {
		flex: 1;
	}
}

@media screen and (max-device-width: 1350px) {
	.main-header { 
		justify-content: space-between;
	}
	.main-nav {padding: 0;}
	.nav-list {
		padding-top: 16px;
		justify-content: center;
    	padding-right: 0px;
	}
	.nav-list__item {
		padding-bottom: 6px;
	}
	.nav-list__item--logo {
		margin: 0 auto;
		position: absolute;
		left: 30px;
		top: 16px;
	}
	.offer-text__catalog {
		padding: 0;
	}
	.gallery__photo {flex: 1 1 34%;}
	.about-us__description {
    	align-items: center;
		flex-direction: column;
	}
	.about-us__text {
		flex: 1;
	    margin-right: 0;
	    padding: 0 0 50px;
	    .head, p {text-align: center;}
	}
	.about-us__slider { 
		flex: 1;
		margin-left: 0px;
		width: 570px;
	}
}

@media screen and (max-device-width: 968px) {
	.group-class {
	    justify-content: space-evenly;
	}
	.class-for {flex: 1 1 233px;}
	.class-for--shadow-wrapper {
		flex-direction: column;
	}
	.class-description-img {
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		img {transform: scale(1.075);}
	}
	.class-description {
		padding: 50px 30px;
	}
	.benefit {background-position-x: -1650px;}
}

@media screen and (max-device-width: 968px) {
	.about-us__description { padding-right: 25%; }
}
 
@media screen and (max-device-width: 789px) {
	.nav-trigger {
		display: flex;
	}
	.nav-list__item {
		display: none;
		margin: 0px;
		&:last-child {
	    margin-bottom: 20px;
		}
	}
	.main-nav-active .nav-list__item--logo {
		position: static;
		order: 1;
	}
	.banner-form {
		background-position-x: -756px;
	}
	.form-trial {
		justify-content: center;
	}
	.group-input-block {
		margin-right: 0px;
	}
	.offer-text__catalog {
		order: -1;
		padding: 0 0 7rem;
		justify-content: center;
	}
	.head-offer, .call-head { 
	    margin: 0 auto;
		text-align: center;
	}
	.head-offer {
		font-size: 2.5rem;
	    line-height: 4rem;
		span {
			font-size: 2.5rem;
		    top: 0px;
		}
	}
	.call-head {
		max-width: 77%;
	    font-size: 2rem;
	}
	.class-for {
		flex: 1;
	}
}

@media screen and (max-device-width: 640px) {
	.our-classes, .about-us, .benefit, .prices-testimonials, .footer-wrapper {
		padding: 50px 11%;
	}
	.banner-form {
		flex-direction: column;
	    background-position-x: 875px;
	    padding: 2rem;
	}
	.form-trial {
		flex-direction: column;
	}
	.offer-text__catalog {
	    padding: 0 0 3rem;
	}
	.call-head {
		font-size: 1.5rem;
	}
	.head-offer {
		line-height: 3.25rem;
	    padding-bottom: 20px;
	}
	.section-overhead {margin: 20px 0 50px;}
	.about-us__text {
		.head, p {text-align: left;}
	}
	.about-us__slider {
		width: 480px;
	}
	.zoom-photo {
		height: 28px;
	    margin: -13.5px;
	    padding: 5px;
	    width: 28px;
	}
	.benefit {background-position-x: -3150px;}
}



@media screen and (max-device-width: 481px) {
	.about-us__slider {
		width: 355px;
	}
}

@media screen and (max-device-width: 377px) {
	.about-us__slider {
		width: 266px;
	}
}