
@media screen and (max-device-width: 768px) {
  body { 
  	background: url(/static/images/general/poster.jpg) #212226 no-repeat center center fixed; 
  }
  .copyright, #bgvid, .video-fullsize, .offer-text { display: none; }
  footer {
  	justify-content: space-between;
  }
 .cd-main-header {
  	flex-wrap: wrap;
  }
}

@media screen and (max-device-width: 768px) {
	.cd-nav__list, .video-player { display: none; }
}

@media screen and (max-device-width: 475px) { 
	body { position: fixed; }
	.modal-wrapper { 
		overflow: scroll;
    	padding: 100px 10px;
    	top: -95px; 
    }
	.cd-main-header, .cd-logo-wrapper { 
    	justify-content: center;
	} 
	.cd-logo-wrapper {order: 2;}
	.show-menu-left, .show-menu-right {
		top: 60px;
		height: 35px;
	}
	.header__basket-min {
		margin-right: 25px;
    	position: relative;
    	top: 4px;
	}
	.smart-basket__min span {
		position: absolute;
	    top: -25px;
	    right: 0px;
	}
	.support__icon {
	    width: 30px;
	    height: 30px;
	    padding: 0 4px;
	    fill: #ffffff;
	    transform: skew(-30deg, 0);
	}
	.order-callback {
		flex-wrap: nowrap;
		flex: 1 0 500px;
    	justify-content: center;
	}
	.order-callback__link { display: none; }

	.cd-side-nav {
		top: 0px;
	    left: 0;
	    position: relative;
	    padding-bottom: 100px;
	    width: 100%;
	}
	.cd-side__item--has-children:not(.cd-side__item--selected).hover .cd-side__sub-list {
		position: absolute;
		left: 0;
		top: 40px;
		width: 100%;
	}
	.cd-side-nav > ul:last-child {
		margin: 20px 0;
	}

	.cd-side-nav {
	    max-height: 500px;
	    padding: 126px 0 120px;
	}

	.modal {
		top: 25%;
	    left: 0;
	    width: 100%;
	    margin: 0px!important; 
	}

	footer {
		flex-wrap: wrap; 
	}
	.call-center, .footer-social__link {
		flex: 1 0 100%;
	    display: flex;
	    padding: 5px 5px 2.5px 5px;
	}
	.call-center {
	    justify-content: center;
	    background: #FFF;
	}
	.footer-social__link {
		justify-content: space-evenly;
	}
	.call-center a {color: $main-active-color; }
	.call-center svg {
		fill: $main-active-color;
	}
	#audi {display: none;}

	.cd-main-content { 
		overflow: scroll; 
	}

	[off-canvas*=reveal] {
		z-index: 999;
	}
	[off-canvas*=left] {
		width: 100%;
	    left: 0;
        top: 98px;
	}

	[canvas=container], [off-canvas] { padding: 15px 35px 205px; }

	.group-article-text {
		flex-wrap: wrap; 
	}

	.article img { 
		max-width: 100%; 
		float: none;
		margin-bottom: 35px; 
	}
	.product__list {
		flex-wrap: wrap;
	}
	
	h2.title {
		flex-direction: column; 
		font-size: 1em; 
		padding: 10px;
		flex: 1 0 100%;
	}
	.inner-testimonial > img {
	    max-width: 100%;
	    float: none;
	}
	.inner-testimonial p, .inner-testimonial h3 {margin: 0 auto;}
	.owl-stage {
		padding: 30px 30px 140px!important;
		display: flex;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	}
}


@media screen and (min-device-width: 475px) {  
	.show-menu-left, .show-menu-right {
		height: 100%;
    	padding: 55px 0; 
	}
	.support__icon { display: none; }
	.article, .sidebar--position {transform: translate(5px, 53px);}
	.cd-side-nav {
		top: 53px;
		overflow: visible;
		z-index: 999999999;
	}
	.cd-side__item--has-children:not(.cd-side__item--selected).hover .cd-side__sub-list {
		left: 210px;
	    top: 0;
	    width: 100%;
	}
	.gallery-sidebar > .owl-carousel .owl-item .owl-lazy { 
    margin-bottom: 70px;
    width: 100vw;
    padding: 0px 294px 0 0;
	} 
	footer { height: 7vh; padding: 5px 35px;}
}

@media screen and (min-device-width: 980px) {
	.cd-main-header { 
	justify-content: space-between;
  }
}
