// Colors
$main-bg-color: #ffffff;
$base-text-color: #555555;

$form-bg-color: #ffffff;
$form-bg-input-color: #f2f2f2;
$form-text-color: #888888;
$button-text-color: #ffffff;
$button-hover-color: #475bf1;
$button-bg-gallery: #fff;

$username-text-color: #5b6ceb;
$copyright-text-color: #b7bffc;
$icon-color: #5b6ceb;

// color - same
$text-gray-color: #777777;
$text-graysm-color: #999999;
$text-white-color: #ffffff;

$main-active-color: #5363db;
$main-active-bg: #5b6ceb;

$main-head-color: #5363db;

// Sizes
$base-font-size: 14px;

// Fonts
$main-font: 'OpenSansRegular', Arial, sans-serif;
$medium-font: 'OpenSansSemiBold', Arial, sans-serif;
$bold-font: 'OpenSansBold', Arial, sans-serif;

$offer-font: 'Freestyle', Times, sans-serif;
$testimonial-font: 'OpenSansItalic', Arial, sans-serif;