.article
	h3.head-article Lorem ipsum dolor
	p.text-offer-article Lorem ipsum dolor sit amet
	.group-article-text
		img(src="static/images/content/products/1.png" alt="Клиент 4")
		p.text-about-article Lorem ipsum dolor sit amet