footer
	.copyright
		span.copyright &copy; Lorem ipsum dolor sit amet
	.footer-social__link
		a(href="https://telegram.org")
		a(href="https://www.facebook.com")
		a(href="https://www.instagram.com")
		a(href="https://www.youtube.com")