footer
	.row-wrapper
		.footer__about-us
			span.footer__about-us-head About
			p.footer__about-us-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quos nemo, amet repellat, obcaecati saepe enim dolores? Reprehenderit, consequatur quas molestiae, obcaecati saepe quaerat debitis doloribus. Excepturi sint, ratione earum!
			.footer-social-link
				a(href="https://www.pinterest.com/")
					img(src="static/images/pinterest-outlined-logo.png" alt="pinterest yoga")
				a(href="https://www.twitter.com/")
					img(src="static/images/twitter-social-outlined-logo.png" alt="twitter yoga")
				a(href="https://www.facebook.com")
					img(src="static/images/facebook-logo-outlined.png" alt="facebook yoga")
				a(href="https://plus.google.com/")
					img(src="static/images/google-plus-social-outlined-logo.png" alt="google-plus yoga")
				a(href="https://www.instagram.com")
					img(src="static/images/instagram-social-outlined-logo.png" alt="instagram yoga")
		.footer__contact-us
			span.footer__about-us-head Contact us
			.contacts-link
					p.contacts-link__adress
						img(src="static/images/placeholder.png" alt="adress office yoga")
						a(title="Позвонить" href="mailto: ask@yoga.com.ua") 5419 Joseph Mountains Apt. 716
					p.contacts-link__email
						img(src="static/images/envelope.png" alt="email office yoga")
						a(title="Позвонить" href="mailto:joga.info@example.com") joga.info@example.com
					p.contacts-link__link
						img(src="static/images/phone-call.png" alt="phone office yoga")
						a(title="Позвонить" href="tel:+84956496777") +1 234 567 89
						a(title="Позвонить" href="tel:+84956496777") +1 234 678 90
					p.contacts-link__website
						img(src="static/images/www.png" alt="website office yoga")
						a(title="Позвонить" href="https://joga-info.com") joga-info.com
	.copyright
		span.copyright  Copyright &copy; 2016-2017 Yoga classes